@import url("https://fonts.googleapis.com/css2?family=Raleway:wght@400&display=swap");

:root {
    --colorTextSecondary: floralwhite;

    --colorPrimary: #20408A;
    --colorSecondary: #09ADDB;
    --colorTertiary: #A9ABAE;

    --fontMain: 'Raleway', Arial, Helvetica, sans-serif;

    --widthLabel: 6rem;
}

* {
    box-sizing: border-box;
    margin: 0;
    padding: 0;
}

body {
    font-family: var(--fontMain);
}

header {
    position: fixed;
    width: 100%;
    top: 0;
    z-index: 1;
    padding: 0.5rem 0 0.5rem 2rem;
    color: var(--colorTextSecondary);
    background-color: var(--colorPrimary);
}

main {
    position: absolute;    
    top: 3rem;
    width: 100%;
    padding: 0.5rem;
    line-height: 1.4rem;
}
@media (min-width: 1024px) {
    main {
        width: 90%;
        margin: auto;
    }
}
@media (min-width: 1224px) {
    main {
        width: 80%;
        margin: auto;
    }
}

footer {
    position: fixed;
    bottom: 0;
    width: 100%;
    padding: 0.25rem 0 0.25rem 0;
    color: var(--colorTextSecondary);
    background-color: var(--colorPrimary);
    text-align: center;
}

/*  Form   */

label {
    display: inline-block;
    width: var(--widthLabel);
}
select {
    width: calc(100% - var(--widthLabel) - 1rem);
}

/*  Structure, classes and elements  */

section {
    margin: 1rem;
}
#poems {    
    margin-bottom: 2rem;    /* Avoids footer overlap */
}
#poems:before {
    content: 'Poems:';
}
@media (min-width: 765px) {
    #poetInfo {
        text-indent: calc(var(--widthLabel) + 0.5rem);
    }
}

.closedPoem:before {
    content: '\025B8 ';     /* Right triangle */
}
.openPoem:before {
    content: '\025BE';      /* Down triangle */
}

article {
    margin-top: 1rem;
}
article > h3 {
    cursor: pointer;
}
article > div {
    margin: 1rem 0 2rem 0;
    padding-left: 1rem;
}

hr {
    border: solid thin var(--colorPrimary);
    background-color: var(--colorPrimary);
}